
.main {
  width: 80%;
  background-color: red;
  display: flex;
  height: 100%;
}

.un {
  width: 20%;
  height: 100%;
}

.un img {
  width: 100%;
  height: 100%;
}

.deux {
  height: 100%;
  width: 50%;


}
.deux h1 {


}

.trois {
  height: 100%;
  width: 30%;
}
.trois img {
  width: 100%;
  height: 100%;
}
